:root {
  --montserrat-font: 'Montserrat', sans-serif;
  --gray-blue: #5585b5;
  --pomegranate: #f95959;
  --black: #000;
  --white: #fff;
  --offwhite: #faf9f6;
  --charcoal: #444;
  --key-lime: #4c4;
  --lime-light: #bfb;
  --soft-blue: #53a8b6;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-family: var(--montserrat-font);
  font-size: 1.5em;
  height: 100vh;
  background-color: var(--offwhite);
}

footer {
  padding: 25px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.flag-container {
  background-color: var(--gray-blue);
  padding: 1.5em;
  border-radius: 5px 5px 0 0;
}

footer {
  background-color: var(--gray-blue);
  border-radius: 0 0 5px 5px;
}

nav li {
  background-color: var(--pomegranate);
  color: var(--white);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  color: var(--white);
  text-decoration: none;
}

.inactive {
  opacity: 0;
}

.home {
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.game-title {
  font-size: 1.5rem;
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}
.replay {
  border-top: 2px solid var(--white);
  border-left: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}

.world-img {
  width: 100%;
  height: auto;
}

/* Main container should be hidden from the user  */
.countries-no-display {
  display: none;
}

.item {
  padding: 0;
  background-color: var(--white);
}

.item-type-b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  color: var(--white);
  background-color: var(--pomegranate);
}

.item-type-b__inputs {
  background-color: var(--pomegranate);
  color: var(--white);
}

.item-type-b__inputs input[type='radio'] {
  opacity: 0;
  position: fixed;
}

.item-type-b__inputs label {
  display: flex;
  font-size: 0.8em;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid var(--white);
}

.item-type-b__inputs input[type='radio']:checked + label {
  background-color: var(--lime-light);
  border-color: var(--key-lime);
}

.item-type-b__inputs input[type='radio']:focus + label {
  border: 2px dashed var(--charcoal);
}

.item-type-b__inputs label:hover {
  background-color: var(--charcoal);
  cursor: pointer;
}

.item-inner {
  grid-column: span 3;

  padding: 2em;
  background-color: var(--soft-blue);
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.guesses-left {
  border-bottom: none;
}

.item-img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.container-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.container-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fixed;
}

.container-nav {
  display: grid;
}

.item {
  grid-column: span 3;
}

.sig {
  color: var(--white);
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .flag-container {
    display: none;
    visibility: hidden;
  }

  .home,
  .replay {
    border: 2px solid var(--white);
  }

  .item-type-b__inputs label {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: 80vw;
    margin: 0 auto;
  }

  .container-nav {
    grid-auto-flow: column;
  }

  .item {
    grid-column: span 3;
    grid-row: span 3;
  }

  .item-type-b {
    grid-column: span 3;
    border-right: 1px solid var(--white);
  }

  .item-inner {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1300px) {
  body {
    width: 60vw;
    margin: 0 auto;
  }

  .container-main {
    grid-auto-flow: column;
  }

  .item {
    grid-column: span 2;
    grid-row: span 2;
  }

  .item-type-b {
    grid-row: span 1;
  }

  .item-inner {
    grid-column: span 3;
  }
}
